.cardsRow { 
    width: 723px;
}

main .main__cards-container .main__card:nth-child(3n+1) {
    align-items: flex-start;
}

main .main__cards-container .main__card:nth-child(3n+2) {
    align-items: center;
}
main .main__cards-container .main__card:nth-child(3n) {
    align-items: flex-end;
}

.main .main__cards-container .main__card {}

@media screen and (max-width: 768px) {
    .cardsRow {
        min-width: unset;
    }

}